.blog-header{
    background-image: url(../assets/blog-header.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;

    h1{
        text-transform: uppercase;
        font-family: $heading-font;
        color: $font-button-color;
        font-size: 4rem;
        line-height: 4.6rem;
    }
}

.blog-header-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.blog-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    position: fixed;
    z-index: 7;

    ul{
        position: absolute;
        right: 300px;
        top: 50px;

        li{
            padding-right: 50px;
        }
    }
}


.blog-menu a{
    color: $font-color;
    font-family: $heading-font;
    letter-spacing: 1.1px;
    line-height: 1.8rem;
    font-size: 1.79rem;
    text-transform: capitalize;
    font-weight: 400;
}

.blog-menu a:hover{
    color: $font-button-color;
}

.blog-menu a:focus{
    color: $font-button-color;
}


.blog-nav-bar-flex a:hover{
    color: $secondary-color;
    background-color: $font-button-color;
}

.blog-nav-bar-flex a:focus{
    color: $secondary-color;
    background-color: $font-button-color;
}

.blog-nav-bar-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-left: 50px;

    a{
    padding: 5px 10px 5px 10px
}

}

.blog-nav-bar-flex li{
    list-style-type: none;
    
    a{
        color: $font-color;
        font-family: $other-font;
        letter-spacing: 1.1px;
        line-height: 1.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.hamburger{
    display: none;
    padding-top: 50px;
}

@media (min-width: 701px) and (max-width: 900px){
    .blog-nav-bar-flex{
        right: 0;
    }

    .full-comment{
        padding-left: 0;

        .comment-1 h1{
            position: relative;
            right: 150px;
        }
    }
    .blog-article{
        padding-right: 0px;
    }

    .comment-1-flex figure{
        left: -50px;
    }
    .comment-1-flex article{
        left: 0px;
        padding-right: 0;
    }

    .comment-2-flex figure{
        left: -50px;
    }

    .comment-2-flex article{
        left: 0;
        padding-right: 0;
    }

    .contact-info fieldset{
        left: 95px;
    }

    .comment-button-flex textarea{
        width: 80%;
        left: 0;
        right: 0;
    }

    .commnent-button-flex button{
        right: 227px;
    }
}


@media (max-width:700px)
{
    html{
        font-size: 1rem;
    }

    .contact-info {
        margin-left: 100px;

        fieldset{
            margin-left: 20px;
        }
    }

    .blog-menu a{
        margin-top: 0.7em;
        margin-left: 1em;
    }

    .blog-header-flex h1{
        padding-bottom: 4em;
    }

    .aside-text .side-text{
        position: static;
        width: 100%;
        text-align: center;
    }

    .blog-nav-bar-flex{
        display: none;
    }

    .hamburger{
        display: initial;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        padding-right: 20px;
    }
    
    .checkbox input{
        width: 50px;
        height: 60px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        padding: 20px;
        z-index: 7;
    }
    
    .checkbox input:checked ~ ul{
        transform: translateY(20px);
        list-style: none;

        li{
            margin-bottom: 10px;

            a{
                padding-top: 0;
                margin-top: 10px;
                font-weight: 700;
            }

            a:hover{
                color: $font-button-color;
            }
        }
    }
    
    .hamburger span{
        display: block;
        width: 40px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
    }
    
    .blog-hamburger{
        transform: translateY(-500px);
        transition: all .3s;
    }

    }


    

    
    
    

    
