.blog-header{
    background-image: url(../assets/blog-header.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    h1{
        text-transform: uppercase;
        font-family: $heading-font;
        color: $font-button-color;
        font-size: 4rem;
        line-height: 4.6rem;
    }
}


.blog-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.blog-menu a{
    color: $font-color;
    font-family: $heading-font;
    letter-spacing: 1.1px;
    line-height: 1.8rem;
    font-size: 1.79rem;
    text-transform: capitalize;
    font-weight: 400;
    flex-grow: 4;
}

.blog-nav-bar-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin-left: 50px;
}

.blog-nav-bar-flex li{
    list-style-type: none;
    
    a{
        color: $font-color;
        font-family: $other-font;
        letter-spacing: 1.1px;
        line-height: 1.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.hamburger{
    display: none;
    padding-top: 50px;
}

@media (max-width:600px)
{
    .blog-nav-bar-flex{
        display: none;
    }

    .hamburger{
        display: initial;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        padding-right: 20px;
    }
    
    .checkbox input{
        width: 50px;
        height: 60px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        padding: 20px;
        z-index: 7;
    }
    
    .checkbox input:checked ~ ul{
        transform: translateY(20px);
        list-style: none;

        li{
            margin-bottom: 10px;

            a{
                padding-top: 0;
                margin-top: 10px;
                font-weight: 700;
            }

            a:hover{
                color: $font-button-color;
            }
        }
    }
    
    .hamburger span{
        display: block;
        width: 40px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
    }
    
    .blog-hamburger{
        transform: translateY(-500px);
        transition: all .3s;
    }

    section.blog-post, .sidebar-image, .blog-flex img, .aside-text, .aside-image-flex, .blog-post-image{
        position: static;
    }

    .blog-flex-2 img, .sidebar-image img, .comment-1-flex figure, .comment-1-flex article, .comment-2-flex figure, .comment-2-flex article .comment-box-flex fieldset .comment-button-flex textarea .comment-button-flex button{
        position: static;
    }

    .blog-post-image{
        width: 50vw;
    }

    }
