.contact-header{
    background-image: url(../assets/contact-image.jpg);
    background-size: cover;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;

    h1{
        text-transform: uppercase;
        font-family: $heading-font;
        color: $font-button-color;
        font-size: 4rem;
        line-height: 4.6rem;
    }
}

.contact-header-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 65%;
}

.contact-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;

    ul{
        position: absolute;
        right: 200px;
        top: 50px;

        li{
            padding-right: 50px;
        }
    }
}

.contact-menu a{
    color: $font-color;
    font-family: $heading-font;
    letter-spacing: 1.1px;
    line-height: 1.8rem;
    font-size: 1.79rem;
    text-transform: capitalize;
    font-weight: 400;
    padding-top: 15px
}

.contact-menu a:hover{
    color: $font-button-color
}

.contact-menu a:focus{
    color: $font-button-color;
}

.contact-nav-bar-flex a:hover{
    color: $secondary-color;
    background-color: $font-button-color;
}

.contact-nav-bar-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;

    a{
    padding: 5px 10px 5px 10px
}

}

.contact-nav-bar-flex li{
    list-style-type: none;
    
    a{
        color: $font-color;
        font-family: $other-font;
        letter-spacing: 1.1px;
        line-height: 1.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.contact-burger{
    display: none;
    padding-top: 50px;
}



