// *******************************//
// INFO / COMMENT //
.contact-info p{
    padding: 0;
}

.contact-info h2{
    font-size: 1.5rem;
    letter-spacing: 1.3px;
    font-family: $heading-font;
    text-transform: uppercase;
    color: $font-button-color;
    padding-bottom: 10px;
    font-weight: 400;
}

.contact-info p{
    font-size: 1rem;
    font-family: $other-font;
    letter-spacing: 1px;
    line-height: 1.45rem;
    margin: 0 auto;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.contact-info .postal{
    padding-bottom: 5%;
}

.info{
    background-color: $main-color;
    padding-top: 5%;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-between;
    padding-bottom: 30px;

    li{
        list-style-type: none;
    }

    a{
        font-size: 1rem;
    }

    i{
        color: $font-button-color;
    }

}

.info-link-flex{
    display: flex;
}

.contact-submit-flex{
    right: 150px;
    position: absolute;
    bottom: 0;
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    width: 48vw;
    box-shadow: -30px 30px 0px 1px rgba(254,111,25,1);

    form{
        padding: 50px;
        


        fieldset{
            padding-left:19px;
        }

    input{
        border: none;
        border-bottom: 2px solid $box-shadow-color;
        padding-bottom: 15px;
        padding-left: 10px;
        width: 49%;
        background-color: $secondary-color;
    }

    input[type=text]{
        margin-right: 20px;
        text-transform: capitalize;
    }
}
}

.contact-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
}

.contact-button-flex textarea{
        background-color: $secondary-color;
        border: 2px solid $box-shadow-color;
        margin-bottom: 60px;
        padding-left: 20px;
        padding-top: 20px;
        resize: none;
        text-transform: capitalize;
        width: 100%;
}

.contact-button-flex textarea::placeholder{
            color: black;
            opacity: 1;
}

.contact-button-flex{
    padding: 20px;

    button{
        width: 100%;
        background-color: $footer-links-color;
        border: none;
        color: $secondary-color;
        padding: 10px;
        text-transform: uppercase;
    }
}

// INFO / COMMENT END//
// *******************************//

.contact-footer{
    padding: 10px 0 10px 0;
}

.contact-footer p{
    padding-top: 0;
}

