.home-header {
    background-image: url(../assets/header-image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    .menu-flex{
        display: flex;
        flex-direction: row;
        z-index: 2;
        width: 100%;
    }

        .top-left{
            padding-top: 50px;
        }
    
        .nav-bar-flex{
            position: absolute;
            right: 6%;
            top: 4%;
            display: flex;
            justify-content: space-evenly;

            li{
                padding-right: 50px;
                list-style-type: none;
            }

            a{
                padding: 5px;
            }
        }
}

.nav-bar-flex a{
    color: $font-color;
    font-family: $other-font;
    letter-spacing: 1.1px;
    line-height: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.header-title{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1-box{
    position: relative;

    h1{
        color: $font-button-color;
        font-family: $heading-font;
        font-size: 5.5rem;
        line-height: 3.2rem;
        position: absolute;
        top: 200px;
    }
    span{
        display: flex;
        flex-direction: column;
    }
}

a{
    color: $font-color;
    font-family: $heading-font;
    letter-spacing: 1.1px;
    line-height: 1.5rem;
    font-size: 1.79rem;
    padding-left: 5px;

    span{
        display: flex;
        flex-direction: column;
    }
}

.menu-flex a:hover{
    color: $font-button-color;
}

.menu-flex a:focus{
    color: $font-button-color;
}

.nav-bar-flex a:hover{
    color: $secondary-color;
    background-color: $font-button-color;
}

.nav-bar-flex a:focus{
        color: $secondary-color;
    background-color: $font-button-color;
}

nav.menu li a{
font-family: $other-font;
font-weight: 700;
font-size: 1rem;
line-height: 29px;
letter-spacing: 1px;
text-transform: uppercase;
}

.header-hamburger{
    background-color: $main-color;
    padding: 25px;
}


.header-burger{
display: none;
padding-top: 50px;
}


.header-figure{
    position: absolute;
    right: 0px;
    top: 220px;
    width: 46%;

    img{
        width: 100%;
    }
}
