.home-header {
    background-image: url(../assets/header-image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    nav{
        position: fixed;
        right: 200px;
        left: 200px;
    }

    .header-title{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    h1{
        color: $font-button-color;
        font-family: $heading-font;
        font-size: 5.5rem;
        line-height: 3.2rem;
        position: relative;
        top: 300px;
        left: 190px;
    }
}

}

.header-figure{
    position: absolute;
    right: 0px;
    top: 220px;
    width: 45%;

    img{
        width: 100%;
    }
}

.menu-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    a{
        flex-grow: 3.5;
        padding-top: 50px;
        position: relative;
    }

    .nav-bar-flex{
        flex-grow: 1;
        position: relative;
        left: 80px;
    }
}


.nav-bar-flex a{
    color: $font-color;
    font-family: $other-font;
    letter-spacing: 1.1px;
    line-height: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-bar-flex{
    display: flex;
    justify-content: space-evenly;

    li{
        list-style-type: none;
    }
}


.header-title{
    display: flex;
    flex-direction:row;
    }

    span{
        display: flex;
        flex-direction: column;
    }

    a{
        padding-top: 30px;
        color: $font-color;
        font-family: $heading-font;
        letter-spacing: 1.1px;
        line-height: 1.5rem;
        font-size: 1.79rem;

    }

nav.menu li a{
    font-family: $other-font;
    font-weight: 700;
    font-size: 1rem;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.header-burger{
    display: none;
    padding-top: 50px;
}

@media (max-width:700px)
{
    html{
        font-size: 1rem;
    }

    .blog-menu a{
        margin-top: 0.7em;
        margin-left: 1em;
    }

    .nav-bar-flex{
        display: none;
    }

    .header-burger{
        display: initial;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        padding-right: 20px;
    }
    
    .header-checkbox input{
        width: 50px;
        height: 60px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        padding: 20px;
        z-index: 7;
    }
    
    .header-checkbox input:checked ~ ul{
        transform: translateY(20px);
        list-style: none;

        li{
            margin-bottom: 10px;

            a{
                padding-top: 0;
                margin-top: 10px;
                font-weight: 700;
            }

            a:hover{
                color: $font-button-color;
            }
        }
    }
    
    .header-burger span{
        display: block;
        width: 40px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
    }
    
    .header-hamburger{
        transform: translateY(-500px);
        transition: all .3s;
    }
}