.home-header {
    background-image: url(../assets/header-image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    .header{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    h1{
        color: $font-button-color;
        font-family: $heading-font;
        font-size: 5.5rem;
        line-height: 3.2rem;
        position: relative;
        bottom: 200px;
        left: 190px;
    }
}

}



.menu-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a{
        flex-grow: 3.5;
        padding-top: 50px;
    }

    .nav-bar-flex{
        flex-grow: 1;
        position: relative;
        left: 80px;
    }
}


.nav-bar-flex a{
    color: $font-color;
    font-family: $other-font;
    letter-spacing: 1.1px;
    line-height: 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-bar-flex{
    display: flex;
    justify-content: space-evenly;

    li{
        list-style-type: none;
    }
}


.header{
    display: flex;
    flex-direction:row;
    }

    span{
        display: flex;
        flex-direction: column;
    }

    a{
        padding-top: 30px;
        color: $font-color;
        font-family: $heading-font;
        letter-spacing: 1.1px;
        line-height: 1.5rem;
        font-size: 1.79rem;

    }

nav.menu li a{
    font-family: $other-font;
    font-weight: 700;
    font-size: 1rem;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

