$main-color: #fae5ff;
$secondary-color:#ffffff;
$font-button-color:#4c0341;
$box-shadow-color: #fe6f19;
$footer-links-color:#882c07;
$font-color:#0d0d0d;
$heading-font: 'Pompiere', cursive;
$other-font: 'Lato', sans-serif;
$main-heading-font: 2.6rem;
$nav-button-footer-font-size: 1rem;
