@import 'setup';
@import 'variables';
@import 'nav-bar';
@import 'home-main';
@import 'home-header';
@import 'contact-header';
@import 'contact-main';
@import 'blog-main';
@import 'blog-header';
@import 'footer';
@import 'global-styles';

//**********************//
//HEADER SECTION//
header {
    background-image: url(../assets/header-image.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    div.header{
        padding-top: 40px;
    
        span{
            display: flex;
            flex-direction: column;
    }
    }
    

    h1{
        color: $font-button-color;
        font-family: $heading-font;
        font-size: 5.5rem;
        line-height: 3.2rem;
        transform: translate(-100px, 150px);
    }
}

div.flex-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 35%;
        transform: translate(120px, 30px);
    }

    span{
        display: flex;
        flex-direction: column;
    }

    a{
        padding-top: 30px;
        color: $font-color;
        font-family: $heading-font;
        letter-spacing: 1.1px;
        line-height: 1.5rem;
        font-size: 1.79rem;
        transform: translate(-100px, 30px);
    }

}

nav.menu li a{
    font-family: $other-font;
    font-weight: 700;
    font-size: 1rem;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
}





//**********************//