@import 'https://fonts.googleapis.com';
@import 'https://fonts.gstatic.com';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pompiere&display=swap';
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.about {
  background-color: #fae5ff;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about h2 {
  color: #4c0341;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  font-size: 2.6rem;
}
.about p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.45rem;
  margin-bottom: 40px;
  padding: 0 50px;
}
.about a {
  font-size: 1rem;
  background-color: #4c0341;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.additions figure {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.additions article {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 100px;
}
.additions article h3 {
  font-size: 2.1rem;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: uppercase;
}
.additions article p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  line-height: 1.45rem;
}
.additions article a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #882c07;
  color: #ffffff;
  padding: 10px 20px;
}
.additions img {
  -webkit-box-shadow: 40px 40px 0px 1px rgb(254, 111, 25);
          box-shadow: 40px 40px 0px 1px rgb(254, 111, 25);
  bottom: 40px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.options figure {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.options article {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: end;
  padding-left: 100px;
}
.options article h3 {
  font-size: 2.1rem;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: uppercase;
}
.options article p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  line-height: 1.45rem;
}
.options article a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #882c07;
  color: #ffffff;
  padding: 10px 20px;
}
.options img {
  -webkit-box-shadow: -40px 40px 0px 1px rgb(254, 111, 25);
          box-shadow: -40px 40px 0px 1px rgb(254, 111, 25);
  top: 40px;
}

.locations-community {
  padding-bottom: 100px;
  background-color: #fae5ff;
}
.locations-community .flex-container {
  position: relative;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.locations-community h3.locations {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;
  left: -50px;
}
.locations-community h3.community {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;
  left: -60px;
}
.locations-community p {
  font-family: "Lato", sans-serif;
  line-height: 29px;
  margin: 0 auto;
}
.locations-community i {
  position: relative;
  left: -25px;
  font-size: 2.6rem;
}

article.community {
  position: relative;
  left: 100px;
}

.blog-contact {
  background-color: #fae5ff;
  padding-bottom: 100px;
  padding-top: 40px;
}
.blog-contact .wrapper {
  padding-top: 70px;
}
.blog-contact h3::before i {
  background-color: #fae5ff;
}
.blog-contact article h3 {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;
  right: 50px;
}
.blog-contact p {
  font-family: "Lato", sans-serif;
  line-height: 29px;
  margin: 0 auto;
}
.blog-contact i {
  font-size: 2.6rem;
  position: relative;
  left: -30px;
}
.blog-contact article.get-in-touch {
  position: relative;
  left: 100px;
}

.popular {
  padding-bottom: 100px;
}

.fancy-shoes img {
  width: 100%;
}

.popular-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.popular-flex-container figure {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  right: -130px;
}
.popular-flex-container figure img {
  width: 65%;
  -webkit-box-shadow: 30px 30px 0px 1px rgb(254, 111, 25);
          box-shadow: 30px 30px 0px 1px rgb(254, 111, 25);
}
.popular-flex-container article {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.popular-flex-container article h3 {
  padding-top: 25px;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  color: #4c0341;
  letter-spacing: 1.2px;
}
.popular-flex-container article p {
  font-size: 1rem;
  line-height: 1.45rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 42px;
  padding-right: 200px;
}
.popular-flex-container article a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #882c07;
  padding: 15px 20px;
  color: #ffffff;
}

.gallery {
  background-color: #fae5ff;
  padding: 100px 0;
}

.gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.gallery-flex li {
  -ms-flex-preferred-size: calc(33.3333333333% - 100px);
      flex-basis: calc(33.3333333333% - 100px);
  list-style-type: none;
}

footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background-color: #882c07;
  color: white;
  line-height: 1.6rem;
}
footer p {
  margin: 0 auto;
}
footer p i {
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 2px;
}

.home-header {
  background-image: url(../assets/header-image.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-header div.header {
  padding-top: 40px;
}
.home-header div.header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-header h1 {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  font-size: 5.5rem;
  line-height: 3.2rem;
}

.menu-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-flex a {
  -webkit-box-flex: 3.5;
      -ms-flex-positive: 3.5;
          flex-grow: 3.5;
  padding-top: 50px;
}
.menu-flex .nav-bar-flex {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  left: 80px;
}

.nav-bar-flex a {
  color: #0d0d0d;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav-bar-flex li {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  padding-top: 30px;
  color: #0d0d0d;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1.79rem;
}

nav.menu li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header h1 {
  position: relative;
  bottom: 200px;
  left: 190px;
}

header {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
header h1 {
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  color: #4c0341;
  font-size: 4rem;
  line-height: 4.6rem;
}

.blog-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
}
.blog-flex img {
  float: right;
}
.blog-flex article {
  background-color: #ffffff;
  width: 955px;
  height: 100%;
  padding: 80px 150px 50px 50px;
}

.blog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog-menu a {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.1px;
  line-height: 1.8rem;
  font-size: 1.79rem;
  text-transform: capitalize;
  font-weight: 700;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.blog-nav-bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.blog-nav-bar-flex li {
  list-style-type: none;
}
.blog-nav-bar-flex li a {
  color: #0d0d0d;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

section.blog-post {
  background-color: #fae5ff;
  position: relative;
}
section.blog-post h2 {
  font-size: 2.6rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4c0341;
  font-size: 2.6rem;
}
section.blog-post p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
section.blog-post h3 {
  padding-top: px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 40px;
}

article.blog-post {
  background-color: #ffffff;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-image-flex {
  position: absolute;
  top: 0;
  margin-top: 100px;
  -webkit-box-shadow: 60px 0px 0px -30px rgb(255, 255, 255);
          box-shadow: 60px 0px 0px -30px rgb(255, 255, 255);
  z-index: 3;
}

.aside-text {
  position: absolute;
  top: 470px;
  width: 370px;
  padding-left: 20px;
  margin-left: 173px;
  padding-top: 120px;
  background-color: #ffffff;
  height: 60vh;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4c0341;
  padding-bottom: 10px;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 1.45rem;
  margin: 0 auto;
  padding-bottom: 40px;
}

.posts {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 1.45rem;
  padding-left: 20px;
}

.comment-1 {
  background-color: #fae5ff;
  text-align: center;
}
.comment-1 h2 {
  text-transform: uppercase;
  color: #4c0341;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.2px;
  font-size: 2.6rem;
  font-weight: 400;
  padding: 50px 80px 30px 0;
}

.comment-1-flex {
  background-color: #fae5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.comment-1-flex figure {
  padding: 0 40px 115px 0;
}
.comment-1-flex article {
  max-width: 50%;
  text-align: left;
  padding-right: 50px;
}
.comment-1-flex article p {
  padding-right: 50px;
}
.comment-1-flex article h3 {
  line-height: 1.45rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.comment-1-flex article img {
  padding-bottom: 18px;
}

.comment-2-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #fae5ff;
}
.comment-2-flex figure {
  padding: 0 40px 115px 0;
}
.comment-2-flex article {
  text-align: left;
  width: 50%;
  padding-right: 50px;
}
.comment-2-flex article p {
  padding-right: 50px;
}
.comment-2-flex article h3 {
  line-height: 1.45rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.comment-forms {
  background-color: #fae5ff;
}

.comment-box-flex {
  background-color: #fae5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comment-box-flex fieldset {
  border: none;
  margin-left: 500px;
}
.comment-box-flex input {
  border: none;
  border-bottom: 2px solid #fe6f19;
  background-color: #fae5ff;
  text-transform: capitalize;
  padding: 1px 75px 10px 30px;
  margin-bottom: 20px;
}
.comment-box-flex input[type=text] {
  margin-right: 15px;
}

.comment-button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment-button-flex textarea {
  background-color: #fae5ff;
  border: 2px solid #fe6f19;
  margin-left: 27%;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-top: 20px;
}
.comment-button-flex button {
  width: 41.5%;
  margin-left: 27%;
  margin-bottom: 80px;
  border: none;
  background-color: #4c0341;
  color: #ffffff;
  padding: 10px;
}

footer p {
  padding: 0;
}

.wrapper {
  max-width: 1500px;
  width: 95%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}