@import 'https://fonts.googleapis.com';
@import 'https://fonts.gstatic.com';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pompiere&display=swap';
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.about {
  background-color: #fae5ff;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about h2 {
  color: #4c0341;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  font-size: 2.6rem;
}
.about p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.45rem;
  margin-bottom: 40px;
  padding: 0 50px;
}
.about a {
  font-size: 1rem;
  background-color: #4c0341;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.additions-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.additions-flex-container .additions {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-bottom: 50px;
}
.additions-flex-container .additions img {
  width: 100%;
  -webkit-box-shadow: 40px 40px 0px 1px rgb(254, 111, 25);
          box-shadow: 40px 40px 0px 1px rgb(254, 111, 25);
  bottom: 40px;
  position: relative;
}
.additions-flex-container article {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 100px;
}
.additions-flex-container article h3 {
  font-size: 2.1rem;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: uppercase;
}
.additions-flex-container article p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  line-height: 1.45rem;
}
.additions-flex-container article a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #882c07;
  color: #ffffff;
  padding: 10px 20px;
}

.options-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.options-flex-container .options {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-top: 50px;
}
.options-flex-container .options img {
  width: 100%;
  -webkit-box-shadow: -40px 40px 0px 1px rgb(254, 111, 25);
          box-shadow: -40px 40px 0px 1px rgb(254, 111, 25);
  top: 40px;
}
.options-flex-container article {
  -ms-flex-preferred-size: 44.5%;
      flex-basis: 44.5%;
  text-align: end;
  padding-left: 150px;
}
.options-flex-container article h3 {
  font-size: 2.1rem;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-transform: uppercase;
}
.options-flex-container article p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  line-height: 1.45rem;
}
.options-flex-container article a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #882c07;
  color: #ffffff;
  padding: 10px 20px;
}

.locations-community {
  padding-bottom: 100px;
  background-color: #fae5ff;
}
.locations-community .locations-flex-container {
  position: relative;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.locations-community h3.locations {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;
  left: -50px;
}
.locations-community h3.community {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;
  left: -60px;
}
.locations-community p {
  font-family: "Lato", sans-serif;
  line-height: 29px;
  margin: 0 auto;
}
.locations-community i {
  position: relative;
  left: -25px;
  font-size: 2.6rem;
}

article.community {
  position: relative;
  left: 100px;
}

.blog-contact {
  background-color: #fae5ff;
  padding-bottom: 100px;
  padding-top: 40px;
}
.blog-contact .blog-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.blog-contact .wrapper {
  padding-top: 70px;
}
.blog-contact h3::before i {
  background-color: #fae5ff;
}
.blog-contact article h3 {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;
  right: 50px;
}
.blog-contact p {
  font-family: "Lato", sans-serif;
  line-height: 29px;
  margin: 0 auto;
}
.blog-contact i {
  font-size: 2.6rem;
  position: relative;
  left: -30px;
}
.blog-contact .get-in-touch {
  position: relative;
  left: 100px;
}

.popular {
  padding-bottom: 100px;
}

.fancy-shoes img {
  width: 100%;
}

.popular-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.popular-flex-container figure {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  right: -130px;
}
.popular-flex-container figure img {
  width: 65%;
  -webkit-box-shadow: 30px 30px 0px 1px rgb(254, 111, 25);
          box-shadow: 30px 30px 0px 1px rgb(254, 111, 25);
}
.popular-flex-container article {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.popular-flex-container article h3 {
  padding-top: 25px;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
  color: #4c0341;
  letter-spacing: 1.2px;
}
.popular-flex-container article p {
  font-size: 1rem;
  line-height: 1.45rem;
  font-family: "Lato", sans-serif;
  padding-bottom: 42px;
  padding-right: 200px;
}
.popular-flex-container article a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-color: #882c07;
  padding: 15px 20px;
  color: #ffffff;
}

.gallery {
  background-color: #fae5ff;
  padding: 100px 0;
}

.gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.gallery-flex li {
  -ms-flex-preferred-size: calc(33.3333333333% - 100px);
      flex-basis: calc(33.3333333333% - 100px);
  list-style-type: none;
}

footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  background-color: #882c07;
  color: white;
  line-height: 1.6rem;
}
footer p {
  margin: 0 auto;
}
footer p i {
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 2px;
}

@media (max-width: 1000px) {
  .home-header .menu-flex .nav-bar-flex {
    position: static;
  }
  .header-figure img {
    display: none;
  }
  .additions-flex-container article {
    padding-right: 0;
  }
  .options-flex-container article {
    padding-left: 0;
  }
  .locations-community .locations-flex-container {
    width: 70%;
  }
  .blog-contact .blog-flex-container {
    width: 70%;
  }
  .popular-flex-container figure {
    position: static;
  }
  .popular-flex-container figure {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .popular-flex-container figure img {
    display: none;
  }
  .popular-flex-container article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .popular-flex-container article p {
    padding-right: 0;
  }
}
.home-header {
  background-image: url(../assets/header-image.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.home-header .menu-flex {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 100%;
}
.home-header .top-left {
  padding-top: 50px;
}
.home-header .nav-bar-flex {
  position: absolute;
  right: 300px;
  top: 40px;
}
.home-header .nav-bar-flex li {
  padding-right: 50px;
}
.home-header .nav-bar-flex a {
  padding: 5px;
}

.header-title {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-title h1 {
  color: #4c0341;
  font-family: "Pompiere", cursive;
  font-size: 5.5rem;
  line-height: 3.2rem;
  position: relative;
  top: 300px;
  left: 190px;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #0d0d0d;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1.79rem;
}

.menu-flex a:hover {
  color: #4c0341;
}

.menu-flex a:focus {
  color: #4c0341;
}

.nav-bar-flex a:hover {
  color: #ffffff;
  background-color: #4c0341;
}

.nav-bar-flex a:focus {
  color: #ffffff;
  background-color: #4c0341;
}

nav.menu li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-burger {
  display: none;
  padding-top: 50px;
}

.header-figure {
  position: absolute;
  right: 0px;
  top: 220px;
  width: 45%;
}
.header-figure img {
  width: 100%;
}

.nav-bar-flex a {
  color: #0d0d0d;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav-bar-flex li {
  list-style-type: none;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 700px) {
  html {
    font-size: 1rem;
  }
  .blog-menu a {
    margin-top: 0.7em;
    margin-left: 1em;
  }
  .nav-bar-flex {
    display: none;
  }
  .header-burger {
    display: initial;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    padding-right: 20px;
  }
  .header-checkbox input {
    width: 50px;
    height: 60px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    padding: 20px;
    z-index: 7;
  }
  .header-checkbox input:checked ~ ul {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    list-style: none;
  }
  .header-checkbox input:checked ~ ul li {
    margin-bottom: 10px;
  }
  .header-checkbox input:checked ~ ul li a {
    padding-top: 0;
    margin-top: 10px;
    font-weight: 700;
  }
  .header-checkbox input:checked ~ ul li a:hover {
    color: #4c0341;
  }
  .header-burger span {
    display: block;
    width: 40px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
  }
  .header-hamburger {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .additions-flex-container .additions {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .additions img {
    display: none;
  }
  .additions-flex-container article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .options-flex-container .options {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .options img {
    display: none;
  }
  .options-flex-container article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .locations-flex-container .locations h3, .locations-flex-container .community h3 {
    position: static;
  }
  .locations-flex-container .community {
    left: 0;
    padding-top: 20px;
  }
  .locations-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .blog-contact .blog-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .blog-contact .blog-flex-container .blog {
    padding-bottom: 20px;
  }
  .blog-contact .blog-flex-container .blog h3 {
    right: 0;
  }
  .blog-contact .blog-flex-container .get-in-touch {
    left: 0;
  }
  .blog-contact .blog-flex-container .get-in-touch h3 {
    right: 0;
  }
}
.popular-flex-container article {
  text-align: center;
}

@media (max-width: 400px) {
  .header-title h1 {
    left: 75px;
  }
  .gallery-flex img {
    display: none;
  }
}
.contact-header {
  background-image: url(/assets/contact-image.jpg);
  background-size: cover;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-header h1 {
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  color: #4c0341;
  font-size: 4rem;
  line-height: 4.6rem;
}

.contact-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65%;
}

.contact-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
.contact-menu ul {
  position: absolute;
  right: 200px;
  top: 50px;
}
.contact-menu ul li {
  padding-right: 50px;
}

.contact-menu a {
  color: #0d0d0d;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.1px;
  line-height: 1.8rem;
  font-size: 1.79rem;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 15px;
}

.contact-menu a:hover {
  color: #4c0341;
}

.contact-menu a:focus {
  color: #4c0341;
}

.contact-nav-bar-flex a:hover {
  color: #ffffff;
  background-color: #4c0341;
}

.contact-nav-bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}
.contact-nav-bar-flex a {
  padding: 5px 10px 5px 10px;
}

.contact-nav-bar-flex li {
  list-style-type: none;
}
.contact-nav-bar-flex li a {
  color: #0d0d0d;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.contact-burger {
  display: none;
  padding-top: 50px;
}

@media (max-width: 700px) {
  html {
    font-size: 2rem;
  }
  .info {
    height: 100%;
  }
  .info footer {
    position: static;
  }
  .contact-nav-bar-flex {
    display: none;
  }
  .contact-burger {
    display: initial;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    padding-right: 20px;
  }
  .contact-checkbox input {
    width: 50px;
    height: 60px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    padding: 20px;
    z-index: 7;
  }
  .contact-checkbox input:checked ~ ul {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    list-style: none;
  }
  .contact-checkbox input:checked ~ ul li {
    margin-bottom: 10px;
  }
  .contact-checkbox input:checked ~ ul li a {
    padding-top: 0;
    margin-top: 10px;
    font-weight: 700;
  }
  .contact-checkbox input:checked ~ ul li a:hover {
    color: #4c0341;
  }
  .contact-burger span {
    display: block;
    width: 40px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
  }
  .contact-hamburger {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .contact-menu {
    padding-top: 10px;
    padding-left: 10px;
  }
}
.contact-info p {
  padding: 0;
}

.contact-info h2 {
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4c0341;
  padding-bottom: 10px;
  font-weight: 400;
}

.contact-info p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 1.45rem;
  margin: 0 auto;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.info {
  background-color: #fae5ff;
  height: 60vh;
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}
.contact-icons li {
  list-style-type: none;
}
.contact-icons a {
  font-size: 1rem;
}
.contact-icons i {
  color: #4c0341;
}

.info-link-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-submit-flex {
  margin-right: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48vw;
  height: 60vh;
  -webkit-box-shadow: -30px 30px 0px 1px rgb(254, 111, 25);
          box-shadow: -30px 30px 0px 1px rgb(254, 111, 25);
}
.contact-submit-flex form {
  padding: 50px 0 50px 50px;
  margin-left: 15px;
  margin-top: 20px;
}
.contact-submit-flex form fieldset {
  padding-left: 19px;
}
.contact-submit-flex form input {
  border: none;
  border-bottom: 2px solid #fe6f19;
  padding-bottom: 15px;
  padding-left: 10px;
}
.contact-submit-flex form input[type=text] {
  margin-right: 20px;
  text-transform: capitalize;
}

.info-links-flex {
  position: relative;
  top: 150px;
}

.contact-form {
  margin-right: 40px;
  border: none;
}

.contact-button-flex textarea {
  background-color: #ffffff;
  border: 2px solid #fe6f19;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-top: 20px;
  resize: none;
  text-transform: capitalize;
  width: 100%;
}

.contact-button-flex textarea::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.contact-button-flex textarea::-moz-placeholder {
  color: black;
  opacity: 1;
}

.contact-button-flex textarea:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.contact-button-flex textarea::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.contact-button-flex textarea::placeholder {
  color: black;
  opacity: 1;
}

.contact-button-flex {
  padding: 20px;
}
.contact-button-flex button {
  width: 39vw;
  background-color: #882c07;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
}

.contact-footer {
  position: relative;
  padding: 10px 0 10px 0;
  top: 290px;
}

.contact-footer p {
  padding-top: 0;
}

@media (min-width: 701px) and (max-width: 900px) {
  .info {
    height: 70vh;
  }
  .info-links-flex {
    text-align: center;
  }
  .contact-submit-flex {
    margin-bottom: 10px;
    margin-right: 0;
    right: 223px;
  }
  .contact-submit-flex .contact-form input {
    width: 90%;
  }
  .contact-button-flex textarea {
    width: 85%;
  }
  .info-links-flex {
    top: 290px;
  }
  .info-links-flex ul {
    width: 100%;
  }
  .info-links-flex ul i {
    font-size: 2rem;
  }
  .contact-footer {
    top: 320px;
  }
}
@media (max-width: 700px) {
  .info .contact-submit-flex form {
    background-color: #ffffff;
    margin: 0;
    padding-left: 0;
    width: 100%;
  }
  .info .contact-submit-flex {
    background-color: #fae5ff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .info .contact-submit-flex {
    position: static;
    width: 100%;
    height: 100%;
  }
  .info .info-links-flex {
    position: static;
    text-align: center;
  }
  .info .contact-button-flex {
    text-align: center;
    margin-top: 3em;
  }
  .info .contact-button-flex textarea {
    width: 100%;
  }
  .info .contact-button-flex button {
    width: 70%;
  }
  .info .contact-form {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 5em;
  }
  .info .contact-form input[type=text] {
    margin-right: 6em;
  }
  .info .contact-form input[type=email] {
    margin-right: 6em;
    padding-top: 2em;
  }
  .info .contact-icons {
    width: 100%;
    padding-top: 3em;
  }
  .info .contact-icons a {
    font-size: 3rem;
  }
  .contact-info {
    padding-bottom: 3em;
  }
}
section.blog-post {
  background-color: #fae5ff;
  position: relative;
}
section.blog-post h2 {
  font-size: 2.6rem;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4c0341;
  font-size: 2.6rem;
}
section.blog-post h3.blog-date {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 40px;
}
section.blog-post p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.blog-post-image {
  position: relative;
  bottom: 380px;
  width: 60vw;
  margin-bottom: -250px;
}

.blog-flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.blog-flex-2 img {
  width: 100%;
  -webkit-box-shadow: -30px 30px 0px 1px rgb(254, 111, 25);
          box-shadow: -30px 30px 0px 1px rgb(254, 111, 25);
  position: relative;
}

.blog-article {
  background-color: #ffffff;
  width: 54.85vw;
  padding: 80px 150px 50px 30px;
}
.blog-article h2, .blog-article h3, .blog-article p {
  padding-left: 30px;
}

.aside-text {
  position: absolute;
  top: 100px;
  bottom: 0;
}

.side-text {
  background-color: #ffffff;
  width: 30vw;
  float: right;
  padding: 50px;
  position: relative;
  left: 30px;
}

.aside-image-flex {
  position: absolute;
  top: 0;
  margin-top: 100px;
  width: 35vw;
}

.sidebar-image img {
  width: 35vw;
  z-index: 4;
  position: relative;
  -webkit-box-shadow: 40px 10px 0px -10px rgb(255, 255, 255);
          box-shadow: 40px 10px 0px -10px rgb(255, 255, 255);
}

.side-text h2 {
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  color: #4c0341;
  padding-bottom: 10px;
  font-weight: 400;
}
.side-text p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 1.45rem;
  margin: 0 auto;
  padding-bottom: 40px;
}

.posts {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 1.45rem;
  padding-left: 20px;
}

.full-comment {
  background: #fae5ff;
  padding-left: 150px;
}

.comment-1 {
  text-align: center;
  padding-right: 50px;
  margin-bottom: 50px;
}
.comment-1 h2 {
  text-transform: uppercase;
  color: #4c0341;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.2px;
  font-size: 2.6rem;
  font-weight: 400;
  padding: 50px 80px 30px 0;
  background-color: #fae5ff;
}

.comment-1-flex {
  background-color: #fae5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
}
.comment-1-flex figure {
  position: relative;
  bottom: 120px;
  left: 170px;
}
.comment-1-flex article {
  max-width: 70%;
  text-align: left;
  padding-right: 70px;
  position: relative;
  left: 190px;
}
.comment-1-flex article p {
  padding-right: 50px;
}
.comment-1-flex article h3 {
  line-height: 1.45rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.comment-1-flex article img {
  padding-bottom: 18px;
}

.comment-2 {
  padding-right: 50px;
  margin-bottom: 50px;
}

.comment-2-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #fae5ff;
}
.comment-2-flex figure {
  position: relative;
  bottom: 115px;
  left: 170px;
}
.comment-2-flex article {
  text-align: left;
  width: 70%;
  padding-right: 50px;
  position: relative;
  left: 190px;
}
.comment-2-flex article p {
  padding-right: 50px;
}
.comment-2-flex article h3 {
  line-height: 1.45rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.comment-forms {
  background-color: #fae5ff;
  margin-top: 50px;
}

.comment-box-flex {
  background-color: #fae5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comment-box-flex fieldset {
  border: none;
  position: relative;
  left: 237px;
}
.comment-box-flex input {
  border: none;
  border-bottom: 2px solid #fe6f19;
  background-color: #fae5ff;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 10px;
}
.comment-box-flex input[type=text] {
  margin-right: 25px;
}

form input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

form input::-moz-placeholder {
  color: black;
  opacity: 1;
}

form input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

form input::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

form input::placeholder {
  color: black;
  opacity: 1;
}

.comment-button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fae5ff;
}
.comment-button-flex textarea {
  background-color: #fae5ff;
  border: 2px solid #fe6f19;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
  left: 237px;
}
.comment-button-flex button {
  width: 48vw;
  margin-bottom: 100px;
  border: none;
  background-color: #4c0341;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 179px;
}
.comment-button-flex textarea {
  resize: none;
}

.comment-button-flex textarea::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.comment-button-flex textarea::-moz-placeholder {
  color: black;
  opacity: 1;
}

.comment-button-flex textarea:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.comment-button-flex textarea::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.comment-button-flex textarea::placeholder {
  color: black;
  opacity: 1;
}

.blog-footer p {
  padding: 0;
  margin-top: 5em;
}

@media (max-width: 700px) {
  html {
    font-size: 1rem;
  }
  .sidebar-image img {
    display: none;
  }
  .side-text {
    margin-bottom: 5em;
  }
  section.blog-post, .sidebar-image, .blog-flex img, .aside-text, .aside-image-flex, .blog-post-image {
    position: static;
  }
  fieldset input {
    width: 50vw;
  }
  .comment-button-flex {
    margin-right: 15em;
  }
  .contact-info fieldset {
    margin-right: 12em;
  }
  .comment-button-flex textarea {
    position: static;
    height: 40vh;
    width: 60vw;
  }
  .comment-button-flex button {
    position: static;
  }
  .blog-flex-2 img, .sidebar-image img, .comment-1-flex figure, .comment-1-flex article, .comment-2-flex figure, .contact-info fieldset {
    position: static;
  }
  textarea {
    position: static;
  }
  .blog-post-image {
    display: none;
  }
  .comment-1 {
    text-align: left;
  }
  .comment-1-flex article {
    max-width: 100%;
    padding: 0;
  }
  .comment-1-flex article p {
    padding-bottom: 0;
  }
  .comment-1-flex img {
    display: none;
  }
  .comment-2-flex article {
    width: 100%;
    position: static;
    padding-right: 0;
  }
  .comment-2-flex p {
    padding-right: 8em;
  }
  .comment-2-flex img {
    display: none;
  }
  .blog-article {
    width: 100%;
    text-align: center;
    padding: 8em 4em 0 0;
  }
  .posts {
    list-style-type: none;
  }
}
.blog-header {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}
.blog-header h1 {
  text-transform: uppercase;
  font-family: "Pompiere", cursive;
  color: #4c0341;
  font-size: 4rem;
  line-height: 4.6rem;
}

.blog-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.blog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  position: fixed;
  z-index: 7;
}
.blog-menu ul {
  position: absolute;
  right: 300px;
  top: 50px;
}
.blog-menu ul li {
  padding-right: 50px;
}

.blog-menu a {
  color: #0d0d0d;
  font-family: "Pompiere", cursive;
  letter-spacing: 1.1px;
  line-height: 1.8rem;
  font-size: 1.79rem;
  text-transform: capitalize;
  font-weight: 400;
  z-index: 7;
}

.blog-menu a:hover {
  color: #4c0341;
}

.blog-menu a:focus {
  color: #4c0341;
}

.blog-nav-bar-flex a:hover {
  color: #ffffff;
  background-color: #4c0341;
}

.blog-nav-bar-flex a:focus {
  color: #ffffff;
  background-color: #4c0341;
}

.blog-nav-bar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}
.blog-nav-bar-flex a {
  padding: 5px 10px 5px 10px;
}

.blog-nav-bar-flex li {
  list-style-type: none;
}
.blog-nav-bar-flex li a {
  color: #0d0d0d;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hamburger {
  display: none;
  padding-top: 50px;
}

@media (min-width: 701px) and (max-width: 900px) {
  .blog-nav-bar-flex {
    right: 0;
  }
  .full-comment {
    padding-left: 0;
  }
  .full-comment .comment-1 h1 {
    position: relative;
    right: 150px;
  }
  .blog-article {
    padding-right: 0px;
  }
  .comment-1-flex figure {
    left: -50px;
  }
  .comment-1-flex article {
    left: 0px;
    padding-right: 0;
  }
  .comment-2-flex figure {
    left: -50px;
  }
  .comment-2-flex article {
    left: 0;
    padding-right: 0;
  }
  .contact-info fieldset {
    left: 95px;
  }
  .comment-button-flex textarea {
    width: 80%;
    left: 0;
    right: 0;
  }
  .commnent-button-flex button {
    right: 227px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 1rem;
  }
  .contact-info {
    margin-left: 100px;
  }
  .contact-info fieldset {
    margin-left: 20px;
  }
  .blog-menu a {
    margin-top: 0.7em;
    margin-left: 1em;
  }
  .blog-header-flex h1 {
    padding-bottom: 4em;
  }
  .aside-text .side-text {
    position: static;
    width: 100%;
    text-align: center;
  }
  .blog-nav-bar-flex {
    display: none;
  }
  .hamburger {
    display: initial;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    padding-right: 20px;
  }
  .checkbox input {
    width: 50px;
    height: 60px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    padding: 20px;
    z-index: 7;
  }
  .checkbox input:checked ~ ul {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    list-style: none;
  }
  .checkbox input:checked ~ ul li {
    margin-bottom: 10px;
  }
  .checkbox input:checked ~ ul li a {
    padding-top: 0;
    margin-top: 10px;
    font-weight: 700;
  }
  .checkbox input:checked ~ ul li a:hover {
    color: #4c0341;
  }
  .hamburger span {
    display: block;
    width: 40px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
  }
  .blog-hamburger {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.wrapper {
  max-width: 1500px;
  width: 95%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}